body {
    background-image: url('images/background.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
}
#entete {
    background-color: #FFF;
    padding: 20px 35px;
}
#logo {
    max-width: 400px;
}
#monTitre {
    color: #ffca08;
    text-shadow: #009845 2px 2px 5px;
}
input.monRadio {
    margin-left: 3px !important;
}
#surpriseMe, #showFormulaire {
    background-color: #009845;
    border: 1px solid #ffca08;
    border-radius: 15px;
}
.pointer {
    cursor: pointer;
}

#total {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#total #prix {
    font-size: 60px;
    font-weight: bold;
    display: block;
}